<app-toolbar></app-toolbar>
<router-outlet></router-outlet>
<div class="divider mb-0"></div>
<footer class="p-3 text-gray-500 flex justify-around text-2xs">
  <div>
    <h5 class="font-bold">Authors:</h5>
    <ul>
      <li>Piotr Krzystanek (frontend)</li>
      <li>Bartłomiej Chmiel (backend)</li>
    </ul>
  </div>

  <div>
    <div>© Piotr Krzystanek and Bartłomiej Chmiel 2022</div>
    <div>This project is made for educational purposes only.</div>
    <a class="text-gray-700" href="https://github.com/bachm44/YouLX">GitHub repository</a>
  </div>
</footer>
