<div class="flex">
  <div class="avatar">
    <div class="w-24 rounded">
      <img src="https://avatars.dicebear.com/api/initials/{{profile.login}}.svg" [alt]="profile.login"/>
    </div>
  </div>
  <div>
    <div class="ml-3 text-2xl">
      {{profile.firstName}} {{profile.lastName}}
    </div>
    <div class="ml-3 text-xl">
      {{profile.login}}
    </div>
    <div class="ml-3 text-sm">
      {{profile.email}}
    </div>
    <div class="ml-3 text-sm">
      {{profile.phone}}
    </div>
  </div>
</div>
