<ng-container *ngIf="offer; else notFound">
  <div class="container max-w-4xl mx-auto">
    <div class="my-3">
      <button backButton class="btn btn-sm btn-outline">go back</button>
    </div>
    <article class="bg-white shadow-xl p-3 rounded-box prose max-w-none">
      <div *ngIf="offer.status == 'OPEN'; else closed" class="badge badge-success badge-outline">Open</div>
      <ng-template #closed>
        <div class="badge badge-error badge-outline">Closed</div>
      </ng-template>
      <span class="ml-2 text-xs text-gray-400">posted by {{offer.user.login}} on {{offer.creationDate | date}}</span>
      <h4 class="mt-1">{{offer.name}}</h4>
      <hr class="mb-2"/>
      <p>{{offer.description}}</p>
      <button *ngIf="offer._links.close" class="btn btn-outline" (click)="closeOffer()">Close offer</button>
    </article>
  </div>
</ng-container>
<ng-template #notFound>
  <div class="hero glass shadow mt-12">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Offer unavailable</h1>
        <p class="py-6">We couldn't find the offer you were looking for :(</p>
        <a routerLink="/" class="btn btn-primary">Go back</a>
      </div>
    </div>
  </div>
</ng-template>
