<ng-container *ngIf="offer; else notFound">
  <div class="flex">
    <div class="flex-1">
    </div>
    <div class="container max-w-4xl mx-auto flex-grow pb-3">
      <div class="my-3">
        <a routerLink=".." class="btn btn-sm btn-outline">go back</a>
        <ng-container *ngIf="loggedInUser$ | async as loggedInUser">
          <button *ngIf="loggedInUser.login != offer.user.login" (click)="reply()" class="btn btn-sm btn-outline ml-2">reply</button>
        </ng-container>
      </div>
      <article class="bg-white shadow-xl p-3 rounded-box prose prose-xl max-w-none">
        <div class="hero" style="background-image: url({{offer.coverUrl}});">
          <div class="hero-overlay bg-opacity-60"></div>
          <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
              <h1 class="mb-0 text-5xl font-bold text-white">{{offer.name}}</h1>
              <p class="my-2">posted by {{offer.user.login}} on {{offer.creationDate | date}}</p>
              <div class="badge badge-outline" [ngClass]="getClassForStatus(offer.status)">{{offer.status}}</div>
              <div class="my-2">{{offer.price ?? 0 | currency: 'PLN'}}</div>
              <div>
                <button *ngIf="offer._links.publish" class="btn btn-accent" (click)="publishOffer()">Publish offer</button>
                <button *ngIf="offer._links.close" class="btn btn-error" (click)="closeOffer()">Close offer</button>
                <a routerLink="edit" class="ml-2 btn" *ngIf="canEdit">Edit</a>
              </div>
            </div>
          </div>
        </div>

        <hr class="my-2">

        <ng-template [ngIf]="offer.imageUrls && offer.imageUrls.length > 0">
          <div class="carousel mx-auto w-1/2 mt-0 bg-gray-400 shadow-2xl">
            <div *ngFor="let imageUrl of offer.imageUrls; index as i" [id]="'offerImage' + i" class="carousel-item w-full flex flex-col justify-center">
              <img [src]="imageUrl" [alt]="'image for offer #' + i" class="w-full h-fit m-0" />
            </div>
          </div>

          <hr class="my-2">

          <div class="flex justify-center w-full py-2 gap-2">
            <a *ngFor="let _ of offer.imageUrls; index as i" (click)="scrollTo('offerImage' + i)" class="btn btn-xs">{{i + 1}}</a>
          </div>

          <hr class="my-2">
        </ng-template>

        <p class="whitespace-pre-wrap">{{offer.description}}</p>
      </article>
    </div>
    <div class="flex-1 px-3 pt-16">
      <ng-container *ngIf="loggedInUser$ | async as user">
        <div *ngIf="user.login != offer.user.login" class="collapse">
          <input type="checkbox" />
          <div class="collapse-title btn btn-outline">
            Click to reveal contact information
          </div>
          <div class="collapse-content">
            <div class="outline rounded-box p-3 mt-3">
              <div *ngIf="offer.user.firstName && offer.user.lastName">Name: {{offer.user.firstName}} {{offer.user.lastName}}</div>
              <div *ngIf="offer.user.email">Email: {{offer.user.email}}</div>
              <div *ngIf="offer.user.phone">Phone: {{offer.user.phone}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-template #notFound>
  <div class="hero glass shadow mt-12">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Offer unavailable</h1>
        <p class="py-6">We couldn't find the offer you were looking for :(</p>
        <a routerLink="/" class="btn btn-primary">Go back</a>
      </div>
    </div>
  </div>
</ng-template>
