<div class="card w-96 bg-base-100 shadow-xl">
  <figure class="px-2 pt-2">
    <img [src]="offer.coverUrl" [alt]="offer.title" class="rounded-xl"/>
  </figure>
  <div *ngIf="offer.price !== null; else free" class="absolute p-2 pb-1 bg-white rounded-xl">
    {{offer.price | currency: 'PLN'}}
  </div>
  <ng-template #free>
    <div class="absolute p-2 pb-1 bg-white rounded-xl">
      FREE
    </div>
  </ng-template>
  <div class="card-body items-center text-center pt-3 pb-3">
    <h3 class="truncate inline-block w-full m-0">
      {{offer.title}}
    </h3>
    <div class="max-w-xs text-xs breadcrumbs">
      <ul>
        <li *ngFor="let category of offer.categories">{{category}}</li>
      </ul>
    </div>
  </div>
</div>
