<div class="navbar bg-base-100 shadow-xl rounded-box">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">YouLX</a>
    </div>
    <div class="flex-none" *ngIf="profile$ | async as profile">
      <ng-container *ngIf="profile != null; else notLoggedIn">
        <button (click)="logout()" class="btn btn-ghost">Log out</button>
      </ng-container>
      <ng-template #notLoggedIn>
        <button (click)="login()" class="btn btn-ghost">Log in</button>
      </ng-template>
    </div>
</div>
