<div class="navbar bg-base-100 shadow-xl rounded-box">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl">YouLX</a>
  </div>
  <div class="flex-none">
    <ng-container *ngIf="profile$ | async as profile; else notLoggedIn">
      <div class="dropdown dropdown-end dropdown-hover">
        <a href="/" tabindex="0" class="btn btn-ghost avatar">
          <p class="mr-3">{{profile.login}}</p>
          <div class="w-10 bg-neutral rounded-full">
            <img alt="avatar" src="https://avatars.dicebear.com/api/initials/{{profile.login}}.svg">
          </div>
        </a>
        <div class="dropdown-content w-full pt-3">
          <ul tabindex="0" class="p-2 shadow menu menu-compact bg-base-100 rounded-box w-full">
            <li>
              <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 16 16">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                </svg>
                Profile
              </a>
            </li>
            <li>
              <a href="/api/logout">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 16 16">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                </svg>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
    <ng-template #notLoggedIn>
      <div class="dropdown dropdown-end dropdown-hover">
        <a href="/api/login" tabindex="0" class="btn btn-ghost avatar">
          Log in
        </a>
      </div>
    </ng-template>
  </div>
</div>
